[submodule "dynobench"]
	path = dynobench
  	# url = git@github.com:IMRCLab/dynobench
	url = git@github.com:quimortiz/dynobench
[submodule "deps/nigh"]
	path = deps/nigh
	url = https://github.com/UNC-Robotics/nigh.git
[submodule "dynomotions"]
	path = dynomotions
	url = git@github.com:quimortiz/dynomotions.git
